
.contents {
  display: flex;
}

.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('main_visual.jpg') top center / cover no-repeat;
  width: 33%;
}

p {
  margin: 10px;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
}

// plan一覧
.ad-explain {
  margin: 250px 0 0 100px;
}

.plan-form {
  border-radius: 20px;
  height: 500px;
  margin: 100px 10px 5px 50px;
}

.ad-plan {
  text-align: center;
  font-size: 30px;
  // border-bottom: solid rgb(226, 225, 225);
}
.plans {
  text-align: center;
}

.price-card {
  border: solid rgb(226, 225, 225);
  margin-top: 10px;
  border-radius: 20px;
  height: 300px;
}

// .price-card h3 {
//   // text-align: center;
// }

// .price-card h4 {
//   font-size: 200%;
//   // text-align: center;
// }

// .per {
//   // text-align: center;
// }