<% if model.errors.any? %>
<div class="error-alert">
  <div>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  <div>
</div>
<% end %>