<%= render "shared/header" %>

<div class='main'>
  <div class="main-visual">
    <p>
      Take care of your child
    </p>
  </div>
  <div class='commpany-explain'>
    <h2 class='ad-explain'>  
      当園は、〜〜〜〜〜〜〜〜〜〜〜をモットーとして運営しております。
    </h2>
</div>