<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      購入プラン内容の確認
    </h1>
    <%# 購入プラン内容の表示 %>
    
    <%# /購入プラン内容の表示 %>
  </div>  
</div>