<div class='check-main'>
  <div class="check-body">
    <div class='check-title'>
      <h1>Reservation details screen</h1>
    </div>
    <div class='check-content'>
      <div class='check-content-list'>
        date：
        <%= @reservation.start_date %>
      </div>
      <div class='check-content-list'>
        time：
        <%= @reservation.time %>
      </div>
      <div class='check-bottom'>
        <%= link_to 'Top page', reservations_path %>
      </div>
    </div>
  </div>
</div>